body {
  background-image: url('/assets/drmasi.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

p {
 color: grey;
 font-size: 36px;
}

.doctolib_btn {
  display:block;
  text-align:center;
  background-color:#0596DE;
  color:#ffffff;
  font-size:14px;
  overflow:hidden;
  width:257px;height:40px;
  border-bottom-right-radius:none;
  border-bottom-left-radius:none;
  position:fixed;
  bottom:0;
  right:5px;
  z-index:1000;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  line-height:40px;
}
