<header class="container">
  <section class="content">
    <h1>CABINET SAINT LOUIS ORTHODONTIE</h1>
    <p class="sub-title"><strong>OUVERTURE SEPTEMBRE 2021</strong></p>
    <p><a class="button" id="load-more-content"
    href="https://www.doctolib.fr/orthodontiste/versailles/claire-masi?utm_campaign=website-button&amp;utm_source=claire-masi-website-button&amp;utm_medium=referral&amp;utm_content=option-5&amp;utm_term=claire-masi"target="_blank" data-reactroot="">
    <span style="display: inline-block;">Prendre rendez-vous en ligne</span>
    <img style="height:15px;margin-bottom:3px;vertical-align:middle;width:auto" src="https://pro.doctolib.fr/external_button/doctolib-white-transparent.png" alt="Doctolib"/>
    </a>
    </p>
  </section>
</header>
