<div class="home">
  <img class="container my-4" src="<%= asset_path('drmasi.jpg') %>"/>
  <h1 class="title" >Cabinet d'orthodontie <br>Saint-Louis</br><br>Ouverture 15 septembre 2021</br></h1>
<div class="doctolib" >
  <a href="https://www.doctolib.fr/orthodontiste/versailles/claire-masi?utm_campaign=website-button&amp;utm_source=claire-masi-website-button&amp;utm_medium=referral&amp;utm_content=option-5&amp;utm_term=claire-masi"target="_blank" data-reactroot=""><span style="font-size:13px">Prendre rendez-vous en ligne</span><img style="height:15px;margin-bottom:3px;vertical-align:middle;width:auto" src="https://pro.doctolib.fr/external_button/doctolib-white-transparent.png" alt="Doctolib"/></a>
</div>
</div>

